<template name="user">
	<div id="user">
		{{#if name}}
			<a onclick="alert();">{{name}}</a>
		{{else}}
			<p>Plug your name in here to connect with your matez</p>
			<input id="associatedByHousemate" type="text"></input>
		{{/if}}
	</div>
</template>