<head>
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<title>housematez</title>
</head>
<body>
	<header>
		<u>housematez</u> - a meteor app by a curious web dev
	</header>
	{{> layout }}
</body>