body
{
	font-family: 'Carrois Gothic SC', sans-serif;
}

header
{
	font-size: 30px;
	font-weight: bold;
}

div#configuration
{
	width: 10%;
	float: left;
}

div#tasksheet
{
	float: left;
	padding-left: 30px;
}

div.entity-item:after
{
	white-space: pre-wrap;
	content: '\A';
}

div.entity-value
{
	float: left;
}

div.entity-delete-operation
{
	float: right;
	right: 30%;
}

div.entity-add-operation
{
	padding-top: 15px;
}

div.entity-add-operation input
{
	width:75%;
}