<template name="housemateList">
	<h3>matez</h3>
	<div class="housemate-list">
		{{#each housemateItems}}
			{{> housemateItem}}
		{{else}}
			add some mates
		{{/each}}
		<div class="entity-add-operation">
			<input id="newHousemate" type="text"><button id="addNewHousemate">Add</button>
		</div>
	</div>
</template>