<template name="housemateItem">
	<div class="entity-item">
		<div class="entity-value">
			{{name}}
		</div> 

		<div class="entity-delete-operation">
			<img id="deleteHousemate" src="delete.png"/>
		</div>
	</div>
</template>