<template name="layout">
  <div id="container">
      <div id="configuration">
        <h2>Settings</h2>
        <div id="housemates">
          {{> housemateList}}
        </div>
        <div id="chores">
          {{> choreList}}
        </div>
        <div id="assignment">
          {{> assignment}}
        </div>
      </div>
      <div id="tasksheet">
        {{> tasksheet}}
      </div>
    </div>
    <div id="adbar">
    </div>
  </div>
</template>