<template name="tasksheet">
  <div class="tasksheet">    
    {{#if choreItems.count}}
      <h2>Tasksheet</h2>
    	<table id="tasksheet">
    		<thead>
          <th>Week</th>
    			{{#each choreItems}}
    				<th>{{title}}</th>
    			{{/each}}
  		  </thead>
        {{#each tasksheetLines}}
          <tr>
            {{> tasksheetLine}}
          </tr>
        {{/each}}
    	</table>
    {{/if}}
  </div>
</template>