<template name="choreList">
	<h3>chores</h3>
	<div class="choreList">
		{{#each choreItems}}
			{{> choreItem}}
		{{else}}
			Add chores
		{{/each}}
	</div>
	<div class="entity-add-operation">
		<input id="newChore" type="text"><button id="addNewChore">Add</button>
	</div>
</template>