<template name="choreItem">
	<div class="entity-item">
		<div class="entity-value">
			{{title}}
		</div>
		<div class="entity-delete-operation">
			<img id="deleteChore" src="delete.png"/>
		</div>
	</div>
</template>